


.fonte-titulo {
    font-family: 'Arial', cursive;
    font-size: 30px;
}
.cor-especial {
    color: rgb(0, 0, 0) !important; 
} 

section{
    background-color:rgb(255, 255, 253)
}

section img {
    width: 100px; 
   
}











            


 
